@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-weight: 900 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
}
.App {
  text-align: center;
}


